<table class="table table-dark table-striped table-bordered caption-top" id="@TableBodyId" style="display:@Display">
    <thead>
        <caption class="text-center"><u>@TableCaption</u></caption>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Lead Id</th>
            <th scope="col">Lead Type</th>
            <th scope="col">Status</th>
            <th scope="col">Budget</th>
            <th scope="col">Closure Plan</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (TableData != null)
        {
            @foreach (var visit in TableData?.OrderByDescending(x => x.VisitDate))
            {
                <tr>
                    <td>@visit.VisitDate.ToString("dd/MM/yyyy")</td>
                    <td>@visit.LeadId</td>
                    <td>@visit.Type</td>
                    <td>@visit.Status @GetStatusIcon(visit.Status)</td>
                    <td class="text-right">@visit.Budget</td>
                    <td>@visit.ClosurePlan</td>
                    <td>
                        <a href="@($"/lead/{visit.LeadId}/details")" target="_blank" class="btn btn-primary btn-sm">OPEN</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>