@page "/lead/{id:guid}/details"
@model Softmad.LeadGeneration.Pages.LeadViewModel
@{
    ViewData["Title"] = "Lead Details";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Shubh.css" />
    <link rel="stylesheet" href="~/css/lead-details.css" />
</head>
<body>
    <div class="content-wrapper">
        <div class="smd-heading-div">
            <h4>Lead Details</h4>
        </div>
        @if (Model.Lead != null)
        {
            <div class="max-w-4xl mx-auto d-grid">
                <div class="px-4 py-2 m-2 border rounded-lg shadow-sm">
                    <div class="d-flex align-items-center" style="column-gap:6px;">
                        <label class="col-8 text-muted">Lead Id:&nbsp @Model.Lead.Id.ToString().Split("-")[0].ToUpper()</label>
                        <span title="Type" class="col badge rounded-pill @Model.GetCSSBadgeColor(leadType: Model.Lead.Type)">@Model.Lead.Type</span>
                        <span title="Status" class="col badge rounded-pill @Model.GetCSSBadgeColor(leadStatus: Model.Lead.Status)">@Model.Lead.Status</span>
                    </div>
                    <br />
                    <div class="section-header">
                        <h4 class="fw-bold">Hospital Details</h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Customer Type:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.CustomerType</span>
                        </div>

                        <div>
                            <span class="fw-bold">Customer Name:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.Name</span>
                        </div>

                        <div>
                            <span class="fw-bold">Email:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.Email</span>
                        </div>

                        <div>
                            <span class="fw-bold">Address:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.AddressLine1, @Model.Lead.CustomerDetails.HospitalDetails.AddressLine2, @Model.Lead.CustomerDetails.HospitalDetails.City, @Model.Lead.CustomerDetails.HospitalDetails.State, @Model.Lead.CustomerDetails.HospitalDetails.PinCode, @Model.Lead.CustomerDetails.HospitalDetails.Country</span>
                        </div>
                    </div>
                    <br />

                    <div class="section-header">
                        <h4 class="fw-bold">Doctor Details</h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Doctor Name:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Name</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Email:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Email</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Phone No.:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Phone</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Specialization:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Specialization</span>
                        </div>
                    </div>
                    <br>

                    <div class="section-header">
                        <h4 class="fw-bold">Additional Details</h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Budget:&nbsp;</span>
                            <span>@Model.Lead.Budget</span>
                        </div>
                        <div>
                            <span class="fw-bold">Requirements:&nbsp;</span>
                            <span>@Model.Lead.Requirements</span>
                        </div>
                        <div>
                            <span class="fw-bold">Closure Plan:&nbsp;</span>
                            <span>@Model.Lead.ClosurePlan</span>
                        </div>
                        <div>
                            <span class="fw-bold">Existing Machines:&nbsp;</span>
                            <span>@Model.Lead.ExistingMachines</span>
                        </div>
                        <div>
                            <span class="fw-bold">Competitor:&nbsp;</span>
                            <span>@(Model.Lead.Competitor ? "Yes" : "No")</span>
                            @if (Model.Lead.Competitor)
                            {
                                <div>
                                    <span class="fw-bold">Competitor Name:&nbsp;</span>
                                    <span>@Model.Lead.CompetitorName</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Competitor Model:&nbsp;</span>
                                    <span>@Model.Lead.CompetitorModel</span>
                                </div>
                            }
                        </div>
                        <div>
                            <span class="fw-bold">Remarks:&nbsp;</span>
                            <span>@Model.Lead.Remarks</span>
                        </div>
                        <div>
                            <span class="fw-bold">Last Modified:&nbsp;</span>
                            <span>@Model.Lead.LastUpdated</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Lead not found.
            </div>
        }
    </div>
    <footer class="footer">
        <!-- Footer content -->
    </footer>
</body>
</html>



