@page "/lead/{id:guid}/details"
@model Softmad.LeadGeneration.Pages.LeadDetailsModel
@{
    ViewData["Title"] = "Lead Details";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Shubh.css" />
    <link rel="stylesheet" href="~/css/lead-details.css" />
</head>
<body>
    <div class="content-wrapper">
        <div class="smd-heading-div">
            <h4>Lead Details</h4>
        </div>
        @if (Model.Lead != null)
        {
            <div class="max-w-4xl mx-auto d-grid">
                <div class="px-4 py-2 m-2 border rounded-lg shadow-sm">
                    <div class="d-flex align-items-center" style="column-gap:6px;">
                        <label class="col-8 text-muted">Lead Id:&nbsp @Model.Lead.Id.ToString().Split("-")[0].ToUpper()</label>
                        <span title="Type" class="col badge rounded-pill @Model.GetCSSBadgeColor(leadType: Model.LatestVisit.Type)">@Model.LatestVisit.Type</span>
                        <span title="Status" class="col badge rounded-pill @Model.GetCSSBadgeColor(leadStatus: Model.LatestVisit.Status)">@Model.LatestVisit.Status</span>
                    </div>
                    <br />
                    <div class="section-header">
                        <h4 class="fw-bold">Hospital Details</h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Customer Type:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.CustomerType</span>
                        </div>

                        <div>
                            <span class="fw-bold">Customer Name:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.Name</span>
                        </div>

                        <div>
                            <span class="fw-bold">Email:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.Email</span>
                        </div>

                        <div>
                            <span class="fw-bold">Address:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.HospitalDetails.AddressLine1, @Model.Lead.CustomerDetails.HospitalDetails.AddressLine2, @Model.Lead.CustomerDetails.HospitalDetails.City, @Model.Lead.CustomerDetails.HospitalDetails.State, @Model.Lead.CustomerDetails.HospitalDetails.PinCode, @Model.Lead.CustomerDetails.HospitalDetails.Country</span>
                        </div>
                    </div>
                    <br />

                    <div class="section-header">
                        <h4 class="fw-bold">Doctor Details</h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Doctor Name:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Name</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Email:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Email</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Phone No.:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Phone</span>
                        </div>

                        <div>
                            <span class="fw-bold">Doctor Specialization:&nbsp;</span>
                            <span>@Model.Lead.CustomerDetails.DoctorDetails.Specialization</span>
                        </div>
                    </div>
                    <br>

                    <div class="section-header">
                        <h4 class="fw-bold">
                            Aditional-details <sup style="font-size:14px">(from latest Visit)</sup>
                        </h4>
                    </div>

                    <div class="details-group">
                        <div>
                            <span class="fw-bold">Budget:&nbsp;</span>
                            <span>@Model.LatestVisit.Budget</span>
                        </div>
                        <div>
                            <span class="fw-bold">Requirements:&nbsp;</span>
                            <span>@Model.LatestVisit.Requirements</span>
                        </div>
                        <div>
                            <span class="fw-bold">Closure Plan:&nbsp;</span>
                            <span>@Model.LatestVisit.ClosurePlan</span>
                        </div>
                        <div>
                            <span class="fw-bold">Existing Machines:&nbsp;</span>
                            <span>@Model.LatestVisit.ExistingMachines</span>
                        </div>
                        <div>
                            <span class="fw-bold">Competitor:&nbsp;</span>
                            <span>@(Model.LatestVisit.Competitor ? "Yes" : "No")</span>
                            @if (Model.LatestVisit.Competitor)
                            {
                                <div>
                                    <span class="fw-bold">Competitor Name:&nbsp;</span>
                                    <span>@Model.LatestVisit.CompetitorName</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Competitor Model:&nbsp;</span>
                                    <span>@Model.LatestVisit.CompetitorModel</span>
                                </div>
                            }
                        </div>
                        <div>
                            <span class="fw-bold">Remarks:&nbsp;</span>
                            <span>@Model.LatestVisit.Remarks</span>
                        </div>
                        <div>
                            <span class="fw-bold">Last Modified:&nbsp;</span>
                            <span>@Model.LatestVisit.VisitDate</span>
                        </div>
                        @* only lead creator can add visits *@
                        @if (Model.Lead.EmployeeId.ToString() == User.Claims.ToList()[0].Value)
                        {
                            <div class="form-group row">
                                <a href=@($"/lead/{Model.Lead.Id}/new-visit") class="col">
                                    <button type="button" class="btn btn-primary col-12">Add Visit</button>
                                </a>
                                <a href="@($"/lead/{Model.Lead.Id}/visitdetails")" class="col btn btn-secondary d-flex align-items-center justify-content-center mt-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                                        <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7z" />
                                    </svg> View Visits
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="alert alert-danger">
                NO LEAD FOUND
            </div>
        }

        <footer class="footer">
            <!-- Footer content -->
        </footer>
</body>
</html>



