@page "/myleads"
@model Softmad.LeadGeneration.Pages.LeadsModel
<head>
    <link rel="stylesheet" href="~/css/Shubh.css" />
    <script src="~/js/MultiStepForm.js"></script>
</head>

<div class="smd-heading-div">
    <h4>My Leads</h4>
</div>
<div class="max-w-4xl mx-auto">
    @foreach (var lead in Model.leadList)
    {
        <div class="p-4 m-2 border rounded-lg shadow-sm">
            <div class="d-flex" style="column-gap:6px;">
                <label class="col-8 fw-bold">ID: @lead.Id</label>
                <label class="col-2 badge @Model.GetCSSBadgeColor(leadType:lead.Type)">@lead.Type</label>
                <label class="col-2 badge @Model.GetCSSBadgeColor(leadStatus:lead.Status)">@lead.Status</label>
            </div>
            <div class="d-flex">
                <span class="fw-bold">@lead.CustomerDetails.CustomerType : </span>
                <label class="fw-bold">@lead.CustomerDetails.HospitalDetails.Name</label>
            </div>
            <div>
                <label class="font-bold">Budget</label> <label>12,30,000</label>
            </div>
            <div class="text-muted">
                <label>Last Modified</label> <label>@lead?.LastUpdated</label>
            </div>
        </div>
    }
</div>